@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand.woff2');
}

body {
    background-image: url('wave_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.box {
    width: 500px;
    height: 750px;
    background-color: #7100E4;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-family: Quicksand;
    font-size: larger;
    color: #ffffff;
}

table {
    border-spacing: 25px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

i {
    font-size: larger;
    color: #ffffff;
}

p {
    font-size: larger;
    color: #ffffff;
}
